/* 
    Author: Nguyen Bach Tung
    Purpose: CSS file for styling the website with common styles for header, menu, footer, etc.
*/


@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

/* JOB LISTING SECTION */
h1 {
    animation: fadeIn 0.5s ease-in-out;
    text-align: center;
    margin-bottom: 20px;
    font: bold 2.5em 'mono', sans-serif;
    color: #007bff;
}

.jobs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    max-width: 1200px;
    /* margin: 2rem auto; */
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 0 1rem;
}

/* ANIMATION EFFECTS */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* INDIVIDUAL JOB LISTING STYLE */
.job-listing {
    background-color: #2a2a2a;
    width: 450px;
    padding: 15px;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    animation: slideInRight 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.job-listing:nth-child(even) {
    animation: slideInLeft 0.5s ease-in-out;
}

.job-listing:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.job-listing img {
    max-width: 100%;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s;
}

.job-listing aside {
    width: calc(100% - 50px);
    float: right;
    border: 2px solid #555555;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
}


.job-listing h2 {
    font-size: 1.5em;
    color: #ffffff;
    margin: 5px 0;
}

.job-listing h3 {
    font-size: 1.2em;
    color: #ffffff;
    margin: 5px 0;
}

.job-listing h4 {
    font-size: 1.0em;
    color: #ffffff;
    margin: 5px 0;
}

.requirement {
    margin-left: 10px;
}

.job-listing p {
    margin: 0;
    font-size: 1em;
    color: #d0d0d0;
    margin-bottom: 5px;
    padding-left: 20px;
}

.job-description {
    height: 90px;
}

.job-listing ol, .job-listing ul {
    color: #d0d0d0;
    margin: 5px 0;
    height: 70px;
    overflow-y: auto;
}

.salary {
    color: #04AA6D;
}

.apply-button {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.avalaible-button {
    background-color: #007bff;
}

.avalaible-button:hover {
    background-color: #0056b3;
}

.unavalaible-button {
    background-color: #dc3545;
}

.unavalaible-button:hover {
    background-color: #dc3545;
}

/* ANIMATIONS */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .job-listing {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .job-listing {
        flex: 0 0 100%;
    }
}